.SurveyForm {
    .button {
        color: #fff;
        padding: 1.5rem 4rem;
        font-size: 1.8rem;

        &.cancel {
            background-color: #e8402e;
            float: left;
            font-size: 1.8rem;

            &:hover {
                background-color: lighten($color: #e8402e, $amount: 5%);
            }
        }

        &.submit {
            float: right;
        }
    }
}
