.SurveyForm .button {
  color: #fff;
  padding: 1.5rem 4rem;
  font-size: 1.8rem; }
  .SurveyForm .button.cancel {
    background-color: #e8402e;
    float: left;
    font-size: 1.8rem; }
    .SurveyForm .button.cancel:hover {
      background-color: #eb5545; }
  .SurveyForm .button.submit {
    float: right; }
