.NavigationItem {
  height: 100%; }
  .NavigationItem a {
    display: block;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 2rem;
    color: white;
    font-size: 2.5rem; }
    .NavigationItem a:hover {
      background-color: #ec8081; }
  .NavigationItem .active {
    background-color: #e75d5e; }
