.NavigationItems {
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 2rem;
    color: white;

    li {
        height: 100%;
        display: flex;
        align-items: center;
        margin-right: 2rem;
    }
}
