.AddButton {
    background-color: #EA7374;
    width: 10rem;
    height: 10rem;
    cursor: pointer;
    border-radius: 50%;
    position: relative;
    border: none;
    outline: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);

    &::before,
    &::after {
        content: "";
        display: block;
        background-color: #fff;
        height: 10%;
        width: 60%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &::after {
        transform: translate(-50%, -50%) rotate(90deg);
    }
}
