.SurveyField {
    padding: 2rem 0 0;

    .label {
        display: block;
        color: #ccc;
        font-size: 1.8rem;
        transition: transform 0.3s;
        transform: translateY(-4rem);

        &.labelActive {
            transform: translateY(-6rem);
        }
    }

    .input {
        display: block;
        width: 100%;
        height: 4rem;
        border: none;
        border-bottom: 1px solid #ccc;
        font-size: 2rem;
        transition: all 0.3s;

        &:focus {
            border-bottom: 1px solid #26a69a;
            box-shadow: 0 1px 0 0 #26a69a;

            & + .label {
                color: #26a69a;
                transform: translateY(-6rem);
            }

            & + .label.labelError {
                color: #ff7730;
            }
        }

        &.inputError {
            border-bottom: 1px solid #ff7730;
            box-shadow: 0 1px 0 0 #ff7730;
        }
    }

    .error {
        color: #ff7730;
        transform: translateY(-3rem);
        font-size: 1.8rem;
    }
}
